@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Color theme */
    --color-primary: #fcb8ab;
    --color-secondary: #feeae6;
    --color-accent: #08bdf9;
  }
}
